<p></p>
<div class="col-sm-12 col-md-12">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <p>
        <button id="add" value="新規" class="btn btn-info button-create" (click)="addNode()">
          <!-- 新規 -->
          Add
        </button>
        <button id="del" value="削除" class="btn btn-info button-delete" (click)="deleNode()">
          <!-- 削除 -->
          Delete
        </button>
      </p>
      <div>
        <tree [tree]="treeH" [settings]="checkboxSettings" (nodeSelected)="seleNode($event)" #treeList></tree>
      </div>
    </div>
    <div *ngIf="templflg=='0'" class="col-sm-8 col-md-8 col-lg-8" >
      <fieldset *ngIf="!inputFlg" disabled> 
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <!-- インデックス編集 -->
            INDEX EDIT
          </h3>
        </div>
        <div class="panel-body">
          <div class="panel-group">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-2 col-md-2">
                    <!-- インデックス -->
                    Index
                  </div>
                  <div class="col-sm-10 col-md-10">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <!-- 日本語 -->
                        Janpanese
                      </span>
                      <input type="text" class="form-control" id="inputTitle_ja" placeholder="" [(ngModel)]="nodeValueJa">
                    </div>
                    <div class="row-line-space"></div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <!-- 英語 -->
                        English
                      </span>
                      <input type="text" class="form-control" id="inputTitle_en" placeholder="" [(ngModel)]="nodeValueEn">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-2 col-md-2">
                    <!-- コメント -->
                    Comment
                  </div>
                  <div class="col-sm-10 col-md-10">
                    <textarea class="form-control" rows="3" id="inputComment" [(ngModel)]="inputCommentVal"></textarea>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-sm-2 col-md-2">
                    Display range
                  </div>
                  <div class="col-sm-10 col-md-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="rss_display" [(ngModel)]="rssDisplayVal"> 
                        <!-- more表示機能 -->
                        More display
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <button id="index-detail-submit" class="btn btn-info" (click)="sendingdetail()">
            <!-- 送信 -->
            Send
          </button>
        </div>
      </div>
      </fieldset>
      <fieldset *ngIf="inputFlg"> 
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">INDEX EDIT</h3>
            </div>
            <div class="panel-body">
              <div class="panel-group">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-2 col-md-2">Index</div>
                      <div class="col-sm-10 col-md-10">
                        <div class="input-group">
                          <span class="input-group-addon">Janpanese</span>
                          <input type="text" class="form-control" id="inputTitle_ja" placeholder="" [(ngModel)]="nodeValueJa">
                        </div>
                        <div class="row-line-space"></div>
                        <div class="input-group">
                          <span class="input-group-addon">English</span>
                          <input type="text" class="form-control" id="inputTitle_en" placeholder="" [(ngModel)]="nodeValueEn">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-2 col-md-2">Comment</div>
                      <div class="col-sm-10 col-md-10">
                        <textarea class="form-control" rows="3" id="inputComment" [(ngModel)]="inputCommentVal"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-2 col-md-2">Display range</div>
                      <div class="col-sm-10 col-md-10">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" id="rss_display" [(ngModel)]="rssDisplayVal">More display
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <button id="index-detail-submit" class="btn btn-info" (click)="sendingdetail()">Send</button>
            </div>
          </div>
          </fieldset>
    </div>
  <app-cofirm-modal [modalAberto]="modalStatus" [parentIsRoot]="parentIsRoot" (buttonClickEvent)="deleteNode($event)"></app-cofirm-modal>
</div>
